* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: rgb(8,27,41);
}
/*----------------------begin_head_part------------------------*/
.head{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: rgb(8,27,41);;
    width: 100%;
    height: 60px;
    z-index: 1;
}
.head h1{
    position: relative;
    top: 15px;
    left: -50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    animation-name: logo;
    animation-duration: 1s;
}
@keyframes logo {
    0%{
        left: -350px;
        opacity: 0;
    }

    100%{
        left: -50px;
        opacity: 1;
    }
}
.head ul {
    position: relative;
    top: 25px;
    left: 90px;
    list-style: none;
    animation: navbar;
    animation-duration: 1s;
    z-index: 1;
}
@keyframes navbar{
    0%{
       top:-100px;
    }

    100%{
        top: 25px;
    }
}
.head ul li{
    position: relative;
    display: inline;
    margin-left: 30px;
    animation: margin-left;
    animation-duration: 1s;
}
@keyframes margin-left{
    0%{
       margin-left: 100px;
    }

    100%{
        margin-left: 30px;
    }
}
.head ul li a{
    color: white;
    letter-spacing: 0.5px;
    transition: 0.5s ease-in-out;
}
.head ul li::after{
    content: '';
    position: absolute;
    top: 17px;
    left: 0.5px;
    width: 0%;
    border-bottom: 2px solid aqua;
    transition: 0.5s ease-in-out;
}
.head ul li:hover::after{
    width: 100%;    
}


/*----------------------end_head_part---------------------------*/

/*----------------------begin_home_part-------------------------*/
.info{
    position: absolute;
    top:30%;
    left: 11%;
}
.info h1{
    position: relative;
    animation: h1;
    animation-duration: 2s;
}
.info h2{
    position: relative;
    animation: h2;
    animation-duration: 1.5s;
}
.info h3{
    position: relative;
    animation: h3;
    animation-duration: 2.5s;
}
.info div{
    position: absolute;
    animation: info;
    animation-duration: 1s;
}
.info h3,
.info h1,
.info h2{
    color: white;
    font-weight: 800;
    letter-spacing: 0.5px;
}
.info h2 span{
    color: aqua;
}
.info div{
    width: 600px;
    color: white;
}
@keyframes info{
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}
@keyframes h1{
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}
@keyframes h2{
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}
@keyframes h3{
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}
.social-link{
    position: absolute;
    top: 60%;
    left: 8%;
    animation: social-link;
    animation-duration: 1s;
}
.social-link div {
    position: relative;
    display: inline;
    margin-left: 40px;
    animation: margin;
    animation-duration: 1s;
}
.social-link div img{
    position: relative;
    top: 5px; 
}
.social-link div::after{
    content: '';
    position: absolute;
    top: -10px;
    left: -6px;
    width: 32px;
    height: 32px;
    border: 2px solid aqua;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.social-link div:hover::after{
    transform: scale(1.1);
    box-shadow: 0 0 10px aqua;
}
@keyframes social-link{
    0%{
       left: -30%;
    }
    100%{
        left: 8%;
     }
}
@keyframes margin{
    0%{
       margin-left: 100px;
    }
    100%{
        margin-left: 40px;
     }
}
.picture{
    position: absolute;
    top:10%;
    right: 5%;
    animation: picture 1s;
    animation: mouvement 1.5s infinite;
    transition: 0.5s;
}
.picture img{
    width: 450px;
    cursor: pointer;
    border-radius: 300px;
}

@keyframes mouvement{
    0%{
       top: 10%;
    }
    25%{
        top: 9%;
    }
    50%{
        top: 8%;
    }
    75%{
        top: 9%;
    }
    100%{
        top: 10%;
    }
}
@keyframes picture{
    0%{
       top:-40%
    }
    100%{
        top: 10%;
    }
}
.cv{
    position: absolute;
    top: 70%;
    left: 170px;
    width: 160px;
    height: 40px;
    background-color: aqua;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    animation: download;
    animation-duration: 1s;
}
@keyframes download{
    0%{
       left:-40%
    }
    100%{
        left: 170px;
    }
}
.cv:hover{
    box-shadow: 0 0 15px aqua;
    transform: scale(1.1);
}





/*----------------------end_home_part-------------------------*/

